.call-to-action-button {
  border-radius: 5em;
  background-color: #2E3192;
  border-color: #2E3192;
}


  @media only screen and (max-width: 992px) {
    .call-to-action-button {
      top:1em;
    }
}
