body {
  @include body-font;
  padding-top: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.on_navbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: transparent !important;
}
