header.masthead {
  position: relative;
  background-color: black;
  background: url('../img/on_hero_3_mobil_v2_rand3_logo-compressor.png') no-repeat;
  @include background-cover;

  h1 {
    font-weight: 400;
  }

  padding-top: 2rem;
  padding-bottom: 5rem;
  height: 100vh;

  .overlay {
    position: absolute;
    /*background-color: $gray-900;*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
  }
  @media (min-width: 900px) {
    background: url('../img/on_hero_3_desktop_2_logo_hoch-compressor.png') no-repeat;
    @include background-cover;

    h1 {
      font-size: 3rem;

    }
  }

  @media (max-device-width: 812px) {
    background: url('../img/on_hero_3_mobil_v2_rand3_logo-compressor.png') no-repeat cover cover;
    @include background-cover;

  }

  @media (min-width: 900px) {
    padding-top: 15rem;
  }
}
.header_desktop {
  display: none;
}

@media (max-width: 768px) {
  .header_mobile {
    display:none;
  }

  .header_desktop {
    display:block;
    text-align: justify;
  }
}
