header.masthead {
  position: relative;
  background-color: black;
  background: url('../img/on_hero_3_mobil_v2_rand3_logo-compressor.png') no-repeat center center;
  @include background-cover;

  padding-top: 2rem;
  padding-bottom: 5rem;
  height: 100vh;

  .overlay {
    position: absolute;
    /*background-color: $gray-900;*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    background: url('../img/on_hero_3_desktop_2_logo_hoch-compressor.png') no-repeat center center;
    @include background-cover;

    h1 {
      font-size: 3rem;
    }

  }
}
.header_desktop {
  display: none;
}

@media (max-width: 768px) {
  .header_mobile {
    display:none;
  }

  .header_desktop {
    display:block;
    text-align: justify;
  }
}
